.hourly-wrapper {
  span {
    font-size: 30px;
  }
  &__container {
    background-color:  #cc90d8;
    padding-top: 10px;
  }
  &__holder {
    width: 100%;
    background: #39373a;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: auto;
    max-width: calc(80% - 20px);
    margin: 0 auto;
    border-radius: 10px;
  }
  &__container:nth-child(2n) &__holder {
    background:  #31539c;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > span:nth-child(1), span:nth-child(4) {
      font-weight: 800;
    }
    > span:nth-child(2) {
      color: #c7baba;
      font-size: 25px;
    }
    > span:nth-child(3) {
      font-size: 80px;
    }
  }
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > img {
      height: 60%;
    }
  }
}
